.button {
    width: 100%;
    background: darkblue;
    border: none;
    color: #fff;
    border-radius: 10px;
    padding: 15px 30px;
    cursor: pointer;
}

.button:disabled {
    background: #888;
    cursor: not-allowed;
}