.container {
  max-width: 1200px;
  margin: 0 auto;
  background: #eee;
  padding: 30px;
}

.container__button {
  min-height: 60px;
  display: flex;
  align-items: flex-end;
}

.searchContainer {
  margin-bottom: 30px;

}

.searchContainer h1 {
  margin-bottom: 30px; 
}